<div n:if="!empty($link)" class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="{$link}" target="_blank" data-ajax="false">
        <i class="large material-icons">mode_edit</i>
    </a>
</div>