{block scripts}
{/block}
{block content}
<div class="row">
    <div class="container-fluid">
        <h3>Editace bloku na hlavní stránce</h3>
        <p>
            Front-end funguje na css frameworku Materialize CSS. Obsah tvořte skrz jejich web <a href="http://materializecss.com/">zde.</a>
            Nebo kontaktujte vývojáře.
        </p>
        {control homepageForm}
    </div>
</div>
