<div class="row">
    {form termsForm}
        <div class="col-xs-12">
            <div class="container-fluid">
                <div class="form-group">
                    <label for="content">Zpracování osobních údajů</label>
                    <textarea class="form-control summernote" n:name="terms" placeholder="Obsah"></textarea>
                </div>
                <button n:name="create" type="submit" class="btn btn-default">Uložit</button>
            </div>
        </div>
    {/form}
</div>